.component-ingredientdetail {
    color: #321321;
    margin: 0 auto;
    padding: 10px;
}


img.edit, img.del {
    height: 15px;
}
img.back, img.save {
    height: 20px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 60px;
    background-color: #333333;
    border-radius: 5px;
    color: #eeeeee;
    text-align: center;
    padding: 3px 0;

    /* Position the tooltip */
    width: 70px;
    bottom: 100%;
    left: 50%;
    margin-left: -40px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}